In [3]:
import pandas as pd

df = pd.read_csv('titanic.csv', na_values="?")

#print(df)

In [8]:
df.groupby(['pclass', 'sex'], as_index=False)['survived'].sum()

   pclass     sex  survived
0       1  female       139
1       1    male        61
2       2  female        94
3       2    male        25
4       3  female       106
5       3    male        75